.results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 20%;
  width: fit-content;
  margin: auto;
  margin-bottom: 15%;
  position: relative;
  // gap: 2rem;

  .print-certificate-button {
    position: absolute;
    bottom: -4.5rem;
    opacity: 0;
    transform: translateY(-25%);
    animation: goToNextLevelButtonAppear 300ms var(--animation-function) forwards;
    font-weight: 500;
  }

  .go-to-next-lesson-button {
    position: absolute;
    bottom: -4.5rem;
    background-color: var(--primary-color);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    transition: background-color 300ms var(--animation-function);
    opacity: 0;
    transform: translateY(-25%);
    animation: goToNextLevelButtonAppear 300ms var(--animation-function) forwards;
    animation-delay: 100ms;
    font-weight: 500;

    p {
      padding-right: 2rem;
      transition: padding 300ms var(--animation-function);
    }

    &:hover {
      background-color: var(--primary-color-active);

      p {
        padding-right: 2.5rem;
      }

      .icon {
        right: 0.5rem;
      }
    }

    .icon {
      position: absolute;
      right: 0.5rem;
      rotate: 90deg;
      transform: translateX(-50%);
      top: 50%;
    }
  }

  .metric {
    opacity: 0;
    transform: translateY(25%);

    animation: metricAppear 300ms var(--animation-function) forwards;

    .value {
      font-size: 3rem;
      font-weight: 300;
      line-height: 3.25rem;
      color: var(--primary-color);
    }

    .name {
      font-weight: 600;
      font-size: 1.2rem;
      color: var(--accent-color-dim);
    }

    &:nth-of-type(1) {
      animation-delay: 100ms;
    }
    &:nth-of-type(2) {
      animation-delay: 200ms;
    }
    &:nth-of-type(3) {
      animation-delay: 300ms;
    }
  }

  .restart {
    width: 3rem;
    height: 3rem;
    // margin-left: auto;
    // margin-right: 1.5rem;
    padding: 0;
    margin-left: 4rem;

    svg {
      height: 3rem;
      width: 3rem;
      fill: var(--accent-color-dim);
      transition:
        fill 300ms var(--animation-function),
        transform 300ms var(--animation-function);
    }

    &:hover,
    &:focus {
      svg {
        fill: var(--accent-color);
        transform: rotate(30deg) scale(1.15);
      }
    }
  }
}

@keyframes metricAppear {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes goToNextLevelButtonAppear {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
