.button {
  // &:hover {
  //     filter: opacity(85%);
  // }
  // background-color: var(--tertiary-background-color);
}
.play {
  .play-head {
    opacity: 0.5;
  }
  .play-create {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 20%;
    .button {
      font-size: 18px;
      padding: 10px;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
      border-radius: 18px;
      margin-top: 30px;
    }
  }
}

.modal {
  .please-work {
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
  }
  .please-work > * {
    width: 100%;
  }
  h1 {
    text-align: center;
    padding: 10px;
    font-size: large;
    border-radius: 13px;
    background-color: var(--tertiary-background-color);
    margin: 0 auto;
  }
  form {
    margin: 0;
  }
  .basic {
    display: flex;
    margin: 0 auto;
    width: 100%;
    gap: 5px;
    flex-direction: column;
    h2 {
      margin-top: 8px;
    }
  }
}
.play-body {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 0.75rem;
}
.div {
  border: 2px solid greenyellow;
  background: green;
}
.match-list {
  min-width: 80%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 0.75rem;
  flex-grow: 1;
  .options {
    display: flex;
    gap: 0.75em;
    button {
      border-radius: 8px;
      padding: 8px;
      background-color: var(--secondary-background-color) !important;
    }
    .active {
      background-color: var(--tertiary-background-color) !important;
    }
  }

  .match-card {
    padding: 0.5rem;
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 10px;
    min-height: 120px;
    justify-content: start;
    width: 75%;
    justify-content: space-between;

    animation: slideInFromLeft 500ms ease-in-out forwards;

    img {
      object-fit: cover;
      width: 100%;
      max-width: 300px;
    }

    h4 {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }

    p,
    span {
      opacity: 0.85;
      font-weight: 300;
      font-size: 16px;
      margin-top: 0;
    }
    .match-card-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
      .button {
        font-size: 24px;
        font-weight: 200;
        border-radius: 9px;
      }
    }
  }
}
.match {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  .head {
    margin-bottom: 8px;
  }
  .spectators {
    background-color: var(--secondary-background-color);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 8px;
  }
  .timer {
    margin-bottom: 10px;
    background-color: var(--secondary-background-color);
    padding: 5px;
    border-radius: 5px;
  }
  .list {
    background-color: var(--secondary-background-color);
    display: flex;
    justify-content: space-between;
    //border: solid 3px rgb(63, 63, 110);
    margin: 3px;
    border-radius: 10px;
    padding: 8px;
    min-width: 35%;
  }
  .button {
    //background: rgb(121, 15, 15);
    background: var(--tertiary-background-color);
    border-radius: 8px;
    font-size: 20px;
    margin: 10px;
  }
}
.history-main > div,
.history-body > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.history-main {
  .history-button {
    .button {
      font-size: 20px;
      font-weight: 300;
      border-radius: 8px;
      //border: solid 3px rgb(63, 63, 110);

      margin-bottom: 10px;
      padding: 2px 8px;
      margin-top: 20px;
    }
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .history-header {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary-background-color);
    // border: solid 3px var(--secondary-border-color);
    margin-bottom: 15px;
    .history-header-top {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: large;
      margin-bottom: 10px;
    }
    .history-header-date {
      opacity: 0.5;
    }
  }
  .history-body {
    .history-body-list {
      width: 100%;
      max-width: 650px;
      .title {
        font-size: large;
        margin-bottom: 7px;
      }
      .card {
        background-color: var(--secondary-background-color);
        display: flex;
        justify-content: space-between;
        //border: solid 3px rgb(63, 63, 110);
        margin: 3px;
        border-radius: 10px;
        padding: 10px;
        width: 125%;
      }
    }
  }
}

.match-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  .match-body-main {
    margin-top: 40px;
    display: flex;
    width: 100%;
    max-width: 960px;
    justify-content: space-between;
    padding: 0 15px;
    .match-body-main-list {
      display: flex;
      justify-content: start;
      align-items: start;

      flex-direction: column;
      gap: 0.75rem;
      flex-grow: 1;
      .match-card {
        padding: 0.5rem;
        background-color: var(--secondary-background-color);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        min-height: 100px;
        // opacity: 0;
        justify-content: start;
        width: 80%;
        min-width: 360px;
        justify-content: space-between;

        animation: slideInFromLeft 500ms ease-in-out forwards;

        .head {
          display: flex;
          justify-content: space-between;
        }
        .match-card-bottom {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .button {
            // background: green;
            font-weight: 300;
            border-radius: 5px;
          }
          p {
            opacity: 0.5;
          }
        }
      }
    }
    .back {
      .button {
        font-size: 20px;
        font-weight: 300;
        border-radius: 8px;
        padding: 3px 10px;
      }
    }
  }
}
.active-background {
  background-color: var(--tertiary-background-color) !important;
}

.match_form {
  max-width: 400px !important;
}
