.play{
    .play-head{
        opacity: 0.5;
    }
    .play-create{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .button{
            font-size:24px;
            padding: 10px;
            background: rgb(14, 14, 93);
            border-radius: 18px;
            margin-top: 30px;
        }
    }
}
.play-body{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 0.75rem;
}
.div {
    border: 2px solid greenyellow;
    background: green;
}
.game-list{
    display: flex;
    justify-content:start;
    flex-direction: column;
    gap: 0.75rem;
    flex-grow: 1;

    .game-card{
        padding: 0.5rem;
        background-color: var(--secondary-background-color);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        min-height: 200px;
        width: 100%;
        opacity: 0;
        justify-content: start;
        width: 75%;
        justify-content: space-between;

        animation: slideInFromLeft 500ms ease-in-out forwards;

        img {
        object-fit: cover;
        width: 100%;
        max-width: 300px;
        }

        h4 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
        }

        p,
        span {
            opacity: 0.85;
            font-weight: 300;
            font-size: 16px;
            margin-top: 0;
        }
        .game-card-bottom{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
            .button{
                font-size: 24px;
                background: green;
                opacity: 0.5;
                border-radius: 9px;
            }
        }
    }
}
.match{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    .button{
        background: rgb(121, 15, 15);
        border-radius:8px;
        font-size: 20px;
        margin:10px;
    }
}