form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 420px;
  min-width: 100%;
  width: calc(100vw - 2rem);
  margin: auto;

  input {
    padding: 0.5rem;
    background-color: var(--secondary-background-color);
    width: 100%;
    display: block;
    width: auto;

    &:focus {
      box-shadow: 0px 0px 3px 1px var(--primary-color);
    }
  }

  .error-list {
  }

  .error {
    color: var(--error-color);
    font-size: 0.85rem;
  }

  button {
    background-color: var(--primary-color);
    padding: 0.5rem;
  }
}
