form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: calc(100vw - 2rem);
  margin: auto;
  max-width: 300px;

  .button {
    margin-top: 0.5rem;
  }

  .textarea-wrapper {
    position: relative;
    width: 100%;

    &:focus-within {
      label {
        // color: var(--primary-color);
      }
    }

    label {
      position: absolute;
      top: 1.5rem;
      transform: translateY(-50%);
      left: 0.5rem;
      pointer-events: none;
      transition: 300ms var(--animation-function);
      color: var(--accent-color-dim);

      &.active {
        transform: translateY(-1.25rem);
        font-size: 0.75rem;
      }
    }

    textarea {
      padding: 1.25rem 0.5rem 0.5rem 0.5rem;
      background-color: var(--secondary-background-color);
      // width: 100%;
      width: 100%;
      display: block;
      color: var(--text-color);
      box-shadow: 0 2px 4px -1px var(--shadow-color);
      transition: all 300ms var(--animation-function);
      resize: none;
      min-height: 3rem;
      border-radius: var(--border-radius);

      scrollbar-color: var(--accent-color) var(--background-color);
      scrollbar-width: thin;
    }
  }

  .select-wrapper {
    position: relative;
    width: fit-content;
    margin-right: auto;

    select {
      display: block;
      padding: 0.5rem;
      background-color: var(--secondary-background-color);
      box-shadow: 0 2px 4px -1px var(--shadow-color);
      font-size: 1rem;
      width: 300px;
      border-radius: var(--border-radius);
    }
  }

  .date-select-wrapper {
    input {
      border-radius: var(--border-radius);
      padding: 0.5rem;
      background-color: var(--secondary-background-color);
      width: 300px;
      display: block;
    }
  }

  .input {
    width: fit-content;
  }

  .input-wrapper:only-child {
    box-shadow: 0 2px 4px -1px var(--shadow-color);

    label {
      color: var(--accent-color-dim);
    }
  }

  .input-wrapper {
    position: relative;
    width: fit-content;
    margin: auto;
    border-radius: var(--border-radius);

    .show-password-button {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      transition:
        background-color 300ms var(--animation-function),
        color 300ms var(--animation-function);
      padding: 0 0.75rem;
      display: flex;
      align-items: center;
      background-color: transparent;
      border-radius: 0 calc(var(--border-radius) - 0.15rem) calc(var(--border-radius) - 0.15rem) 0;

      .eye-icon {
        height: 1.5rem;
        width: 1.5rem;
        transition: color 300ms var(--animation-function);
        fill: var(--accent-color-dim);
      }

      &:hover {
        background-color: var(--secondary-background-color-active);

        .eye-icon {
          fill: var(--accent-color);
        }
      }
    }

    &:focus-within {
      label {
        // color: var(--primary-color);
      }
    }

    label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0.5rem;
      pointer-events: none;
      transition:
        transform 300ms var(--animation-function),
        font-size 300ms var(--animation-function);
      color: var(--warning-color);

      &.active {
        transform: translateY(-1.25rem);
        font-size: 0.75rem;
      }
    }

    input {
      padding: 1.15rem 0.5rem 0.15rem 0.5rem;
      background-color: var(--secondary-background-color);
      width: 300px;
      display: block;
      transition: background-color 300ms var(--animation-function);
      border-radius: var(--border-radius);

      &:focus {
        background-color: var(--secondary-background-color-active);
      }
    }
  }

  .error-list {
    list-style: disc;
    margin-left: 1rem;
    margin-top: 0.15rem;

    .error {
      color: var(--warning-color);
      font-size: 0.75rem;
    }
  }
}

.button {
  background-color: var(--secondary-background-color);
  padding: 0.5rem;
  transition:
    background-color 300ms var(--animation-function),
    color 300ms var(--animation-function);
  box-shadow: 0 2px 4px -1px var(--shadow-color);
  border-radius: var(--border-radius);

  &:hover {
    background-color: var(--secondary-background-color-active);
  }
}

.cta-button {
  background-color: var(--cta-color) !important;

  &:hover {
    background-color: var(--cta-color-active) !important;
  }
}
