.user-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user-icon-wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: fit-content;
  position: relative;
  justify-content: center;

  // animation: appear 300ms var(--animation-function);

  // &.user-icon-vertical {
  //   flex-direction: column;
  // }

  .username {
    margin-left: 0.25rem;
    font-weight: 600;

    &.username-small {
      position: absolute;
      top: -0.25rem;
      left: 3.5rem;
      margin-left: 0;
      font-size: 0.75rem;
    }
  }

  .user-icon {
    height: 3rem;
    width: 3rem;
    border-radius: var(--border-radius);
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0 2px 4px -1px var(--shadow-color);

    span {
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
