.register-page {
  display: grid;
  place-content: center;

  .registration-benefits {
    padding: 0.25rem;
    font-size: 0.85rem;
    margin-bottom: 0.75rem;

    ul {
      margin-left: 1.5rem;
      list-style: circle;

      li {
        max-width: 268px;
      }
    }
  }

  form {
    input {
      background-color: var(--secondary-background-color);
    }
  }

  .auth-message {
    color: var(--accent-color);
    font-size: 0.75rem;
    opacity: 0.75;
    margin: 0.25rem auto;
    transition: opacity 300ms var(--animation-function);

    &:hover {
      opacity: 1;
    }
  }

  .error {
    color: var(--primary-color);
  }
}
