.keyboard {
  // position: absolute;
  transform: rotate3d(1, 2, 2, -5deg);
  // right: 50%;
  display: flex;
  height: 400px;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .keyboard-container {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 15px;

    .container {
      padding: 20px 20px;
      display: flex;
      flex-direction: column;
      max-width: 980px;
      justify-content: center;
      align-items: center;
      transition: color, background-color 300ms ease-in-out;

      .row {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        .key {
          position: relative;
          width: 55px;
          height: 55px;
          margin: 5px;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          background-color: var(--secondary-background-color);
          border-radius: 5px;
          color: var(--text-color);
          box-shadow: 0 4px 6px -1px var(--shadow-color), 0 0 4px 1px transparent;
          opacity: 0;
          animation: fadeIn 300ms var(--animation-function) forwards, levitate 5000ms infinite;
          transition: all var(--animation-function) 300ms;
          font-weight: 600;

          user-select: none;

          &.active {
            background-color: var(--secondary-background-color-active);
            box-shadow: 0 6px 14px 6px var(--shadow-color);
          }

          span {
            position: absolute;
            font-size: 1rem;
          }

          &.children-1 {
            span {
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
          &.children-2 {
            span:nth-child(1) {
              top: 2px;
              left: 7px;
            }
            span:nth-child(2) {
              bottom: 3px;
              right: 7px;
              color: var(--accent-color);
              font-weight: 400;
            }
          }
          &.children-3 {
            span:nth-child(1) {
              font-weight: 2rem;
              top: 2px;
              left: 7px;
            }
            span:nth-child(2) {
              bottom: 3px;
              right: 7px;
              color: var(--accent-color);
              font-weight: 400;
            }
            span:nth-child(3) {
              top: 2px;
              right: 7px;
              color: var(--accent-color);
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

.row:first-of-type {
}
.row:nth-of-type(2) {
}
.row:nth-of-type(3) {
  position: relative;
  right: 25px;
}

@keyframes levitate {
  0% {
    transform: translateY(0) translateX(0);
    // filter: hue-rotate(1);
  }
  50% {
    transform: translateY(-7px) translateX(-7px);
  }
  100% {
    transform: translateY(0) translateX(0);
    // filter: hue-rotate(360deg); // RGB keyboard
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
