.practice-page {
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  justify-content: center;

  .description {
    max-width: 720px;
    margin: 0 auto 2rem;

    h2 {
      font-size: 1.25rem;
      margin-bottom: 1rem;

      span {
        margin-left: 0.5rem;
        color: var(--accent-color-dim);
        opacity: 0.5;
      }
    }
  }
}
