.notification-page {
  max-width: 720px !important;
  margin: auto;

  .notification-buttons {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;

    .button {
      padding: 0.25rem 0.75rem;
      border: 2px solid transparent;

      &.notification-type-active {
        background-color: var(--background-color);
        border: 2px solid var(--secondary-background-color);
        padding: 0.25rem 1.25rem;

        &:hover {
          border: 2px solid var(--secondary-background-color-active);
        }
      }
    }
  }

  .notification-list-cards {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .notification-page-title {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.25rem;
  }

  .notification-status-select {
    // position: absolute;
    // top: 5rem;
    display: flex;
    gap: 0.5rem;

    a {
      background-color: var(--secondary-background-color);
      border-radius: var(--border-radius);
      padding: 0.25rem 0.5rem;
    }
  }

  .notification-card {
    background-color: var(--secondary-background-color);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px -1px var(--shadow-color);
    padding: 0.5rem 0.5rem;
    display: flex;
    // align-items: center;
    min-height: 5rem;
    height: 5rem;
    position: relative;
    transition:
      background-color 300ms var(--animation-function),
      opacity 300ms var(--animation-function),
      height 300ms var(--animation-function),
      max-height 300ms var(--animation-function);
    cursor: pointer;

    &.notification-resolved {
      opacity: 0.75;
      cursor: default;

      &:hover,
      &:active {
        background-color: var(--secondary-background-color);
      }
    }

    .notification-accepted,
    .notification-declined {
      position: absolute;
      font-size: 0.85rem;
      // opacity: 50%;
      bottom: 0.25rem;
      left: 4rem;
    }

    .notification-accepted {
      color: var(--success-color);
    }
    .notification-declined {
      color: var(--warning-color);
    }

    &:hover,
    &:active {
      background-color: var(--secondary-background-color-active);
    }

    &.notification-open {
      height: 8rem;
      background-color: var(--secondary-background-color-active);

      .friend-request-buttons {
        display: flex;
        gap: 0.5rem;
        background-color: transparent;
        position: absolute;
        bottom: 0.5rem;

        opacity: 0;
        transform: translateY(-10%);
        margin-top: auto;

        animation: friendsButtonAppear 300ms var(--animation-function) forwards;

        .button {
          background-color: var(--background-color);
          padding: 0.25rem 0.75rem;

          &:hover {
            background-color: var(--background-color-transparent);
          }
        }
      }
    }

    .notification-content {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
    }

    .notification-date {
      position: absolute;
      color: var(--accent-color);
      font-size: 0.75rem;
      opacity: 50%;
      bottom: 0.25rem;
      right: 0.5rem;
    }

    .notification-text {
      line-height: 1.25rem;
      margin: 1.25rem 0 1.25rem 0;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      max-height: 3 * 1.2em;

      &.notification-status-accepted {
        color: var(--success-color);
      }
      &.notification-status-rejected {
        color: var(--warning-color);
      }
    }

    .notification-resolve-message {
      font-size: 0.75rem;
      position: absolute;
      bottom: 0.25rem;
      opacity: 75%;
    }

    .notification-sender {
      // margin-right: 1.5rem;
      // width: 3rem;
      position: relative;

      .notification-icon {
      }

      .username {
        // opacity: 50%;
        position: absolute;
        top: -0.25rem;
        left: 3.5rem;
        font-size: 0.75rem;
      }
    }
  }
}

@keyframes friendsButtonAppear {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  50% {
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
