.layout-select-page,
.profile-page {
  // $keySize: var(--key-size);
  $keySize: 3.5rem;

  .create-layout-link {
    display: block;
    width: fit-content;
    margin-top: 0.5rem;
    font-size: 0.85rem;
  }

  .layout-card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .search-options-button-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .search-options-list {
      display: flex;
      gap: 0.5rem;
    }

    .search-list-item {
      background-color: var(--secondary-background-color);
      padding: 0.25rem 0.5rem;
      border-radius: var(--border-radius);
      // transition: background-color 300ms var(--animation-function);

      &:hover {
        background-color: var(--red-color);
        // opacity: 0.5;
      }
    }

    .add-new-text-button {
      margin-top: 0.5rem;
    }

    .search-options-button {
      width: fit-content;
      // padding: 0.25rem 0.5rem;
      border-radius: var(--border-radius);
      display: block;
      width: fit-content;
      margin-top: 0.5rem;
      font-size: 0.85rem;
      max-height: 2.25rem;

      &.search-options-clear {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1rem;

        .trash-icon {
          height: 1.25rem;
          width: 1.25rem;
          fill: var(--accent-color);
        }
      }
    }
  }

  .layout-card {
    // outline: 1px solid red;
    padding: 0.5rem;
    transition: 300ms var(--animation-function);
    // background-color: var(--secondary-background-color);
    border-radius: var(--border-radius);
    border: 2px solid transparent;

    &:hover {
      // border: 2px solid var(--secondary-background-color);
      filter: brightness(1.15);
    }

    .layout-card-text {
      padding: 0.25rem 0.5rem;
      display: flex;
      gap: 1.25rem;

      h2 {
        font-size: 1.25rem;
      }
      p {
        opacity: 0.5;
      }
    }
  }

  .layout-list-title {
    margin-top: 2rem;
    font-size: 1.25rem;
    font-weight: 500;
  }

  .preview-keys {
    display: flex;
    flex-direction: column;
    gap: calc($keySize/8);
    margin-bottom: 0.5rem;

    .preview-key {
      background-color: var(--secondary-background-color);
      display: flex;
      justify-content: center;
      align-items: center;
      transition:
        box-shadow 300ms var(--animation-function),
        background-color 100ms var(--animation-function);
      backdrop-filter: blur(6px);
      box-shadow: 0 2px 4px -1px var(--shadow-color);
      user-select: none;
      font-weight: 500;
      border-radius: var(--border-radius);
      height: $keySize;
      width: $keySize;

      .preview-key-value {
        position: absolute;

        &:nth-of-type(1) {
          top: calc($keySize/12);
          left: calc($keySize/8);
          right: auto !important;
          bottom: auto !important;
        }
        &:nth-of-type(2) {
          bottom: calc($keySize/12);
          right: calc($keySize/8);
          left: auto !important;
          top: auto !important;
          opacity: 0.5;
        }
      }
    }

    .preview-keys-first-row {
      display: flex;
      gap: calc($keySize/8);

      .preview-key {
      }
    }

    .preview-keys-second-row {
      margin-left: calc($keySize/4);
      display: flex;
      gap: calc($keySize/8);

      .preview-key {
      }
    }
  }
}
