.list {
}
.card {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  margin-bottom: 5px;
  border: 2px solid var(--primary-color);
  padding: 6px;
  border-radius: 5px;
}
.highlight {
  background-color: var(--primary-color);
}

.unranked {
  opacity: 0.5;
}
