.search-wrapper {
  height: 2.5rem;
  max-width: 1280px;
  // width: calc(100% - 2rem);
  // margin: 0 auto;
  width: 100%;
  position: relative;
  transition: 300ms var(--animation-function);

  .search-bar-holder {
    width: 100%;
    max-width: 1280px;
    height: 5rem;
    margin-top: -1rem;
    // margin-left: -1rem;
    background-color: var(--background-color);
    z-index: 100;
    position: fixed;

    transition: 300ms var(--animation-function);

    .search-bar {
      max-width: calc(1280px - 1rem);
      width: calc(100% - 1rem);
      border-radius: 10px;
      border: 1px solid var(--secondary-color);
      background-color: var(--secondary-background-color);
      padding: 0.5rem 0;
      text-align: center;
      position: fixed; // sticky was not working 😢
      top: 5.5rem;
      align-self: flex-start;
      z-index: 100;
      transition: 300ms var(--animation-function);
    }
  }
}
