.search-bar {
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  align-self: flex-start;
  z-index: 100;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px -1px var(--shadow-color);

  background-color: var(--secondary-background-color);
  transition:
    background-color 300ms var(--animation-function),
    filter 300ms var(--animation-function);
  color: var(--accent-color);

  &::placeholder {
    color: var(--accent-color-dim);
  }

  &:focus,
  &:active {
    background-color: var(--secondary-background-color);
  }

  &:focus {
    background-color: var(--secondary-background-color);
  }
}

.more-options-button {
  color: var(--accent-color);
  transition: color 300ms var(--animation-function);

  &:hover {
    color: var(--text-color);
  }
}

@keyframes searchOptionsAppear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes searchOptionsDisappear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
