.editable-keyboard {
  // pointer-events: none;
  .key {
    &.editable {
      transition:
        background-color 300ms var(--animation-function),
        opacity 300ms var(--animation-function),
        box-shadow 300ms var(--animation-function);
      box-shadow: 0 2px 4px -1px var(--shadow-color);

      &:hover {
        opacity: 0.85;
        box-shadow: 0 2px 6px 2px var(--shadow-color);
      }

      &.empty-key {
        opacity: 0.75;
      }

      .duplicate {
        outline: 2px solid var(--warning color);
        color: var(--warning-color);
      }

      &:not(.punct) {
        // Add your special styles here
        font-size: medium; /* Example */
        background-color: rgb(112, 113, 182); /* Example */
      }
    }
  }
  .punct {
    font-size: large;
    background-color: rgb(62, 158, 113) !important;
  }
}

.keyboard-top-side {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: end;
}

.editing-key {
  position: relative;

  font-weight: 600 !important;
  width: 8rem;
  height: 8rem;
  border-radius: calc(var(--border-radius) * 2);
  background-color: var(--secondary-background-color);
  box-shadow: 0 2px 4px -1px var(--shadow-color);
  opacity: 1;

  // &:hover {
  //   box-shadow: 0 2px 6px 2px var(--shadow-color);
  // }

  .shift-value-text {
    position: absolute;
    left: 2.25rem;
    bottom: 0.5rem;
    font-size: 0.75rem;
    opacity: 0.75;
  }

  &.selected-key-open {
    opacity: 1;

    // animation: 200ms var(--animation-function) selectedEditableKeyAppear forwards;
  }

  &.selected-key-closed {
    opacity: 1;

    // animation: 200ms var(--animation-function) selectedEditableKeyDisappear forwards;
  }

  .editable-key-value {
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
    // opacity: 0;
    text-align: center;
    font-weight: 400;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    // font-family: monospace;
    // caret-color: transparent; // blinking vertical line

    &:focus {
      // outline: 2px solid var(--primary-color);
    }

    // animation: 200ms 50ms linear selectedEditableKeyValuesAppear forwards;
  }

  input.editable-key-value {
    box-shadow: 0 1px 4px -1px var(--shadow-color);
  }

  .selected-key-options {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -10rem;
  }

  &.Letter-key,
  &.Symbol-key {
    position: relative;

    .editable-key-value {
      position: absolute;

      &.first-value {
        top: 0.75rem;
        left: 0.75rem;
        right: auto !important;
        bottom: auto !important;
      }
      &.second-value {
        bottom: 0.75rem;
        right: 0.75rem;
        left: auto !important;
        top: auto !important;
      }
    }
  }

  // &.Symbol-key,
  &.Digit-key {
    position: relative;

    .editable-key-value {
      position: absolute;

      &:nth-of-type(1),
      &.first-value {
        top: 0.75rem;
        left: 0.75rem;
        right: auto !important;
        bottom: auto !important;
      }
      &:nth-of-type(2),
      &.second-value {
        bottom: 0.75rem;
        right: 0.75rem;
        left: auto !important;
        top: auto !important;
      }
    }
  }
}

.reset-key-button {
  // padding: 0.25rem 0.5rem;
}

.save-layout-modal {
  // height: 100%;
  min-height: fit-content !important;
  // width: fit-content;

  .modal-content {
    // height: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    height: 100%;

    .save-keyboard-submit-button {
      background-color: var(--cta-color);
      margin-top: 5rem;
      margin-bottom: 1rem;

      &:hover {
        background-color: var(--cta-color-active);
      }
    }
  }
}

.optimize-panel {
  position: relative;

  .optimization-status {
    position: absolute;
    white-space: nowrap;

    .complete-generations {
      opacity: 0.75;
    }
  }
}

.configurator-layout-panel {
  .configurator-layout-form {
    max-width: 960px;
    flex: 1;
    width: 100%;
    margin: 0;
    height: 100%;

    .input-fields {
      display: grid;
      grid-template-columns: repeat(3, 225px);
      align-items: center;
      gap: 0.25rem;
    }

    input {
      max-width: 225px;
    }

    .submit-button {
      width: 200px;
      margin-right: auto;
    }

    .effort-usages {
      display: flex;
      height: fit-content;
      gap: 0.5rem;

      button {
        margin-top: 0;
        // margin-right: 10px;
      }
    }
  }
}

.warning-list {
  //

  p {
    color: var(--warning-color);
  }

  ul {
    list-style: circle;
    margin-left: 1.5rem;

    color: var(--warning-color);
  }
}

.analyze-modal {
}

.show-more-details-button {
  background-color: transparent !important;
  box-shadow: none !important;
  width: fit-content;
  padding-left: 0 !important;
}

@keyframes selectedEditableKeyAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes selectedEditableKeyDisappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes selectedEditableKeyValuesAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
