.profile-page {
  // display: flex;
  .user-panel {
    margin: auto;
    display: flex;
    width: fit-content;
    align-items: end;
    gap: 0.25rem;

    .username {
      // max-width: 3.5rem;
      // margin-top: 0.5rem;
      font-weight: 600;
      font-size: 1.5rem;
      // position: absolute;
      // bottom: -1.75rem;
      // transform: translateX(50%);
      // right: 50%;
    }

    .username-text {
      font-size: 400;
    }
  }
}
