.profile-page {
  display: flex;

  .user-information {
    width: 300px;

    h2 {
      border-top: 1px solid var(--secondary-color);
      padding-top: 0.25rem;
      margin-top: 1rem;

      span {
        color: var(--secondary-color);
        margin: 0 0.25rem;
      }
      margin-bottom: 0.5rem;
    }

    .user-actions {
      // border-bottom: 1px solid var(--secondary-color);
      padding-bottom: 0.5rem;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      align-items: center;

      .user-actions-buttons {
        display: flex;
        gap: 0.25rem;
        height: 1.5rem;

        button {
          svg {
            height: 1.5rem;
            width: 1.5rem;
            fill: var(--accent-color);
          }
        }
      }
    }
  }
  .user-posts-wrapper {
    flex: 1;
  }
}

.dividing-underline {
}
