.profile-page {
  // display: flex;
  .user-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 4rem;
    margin: auto;
    position: relative;
    justify-content: center;
    position: relative;
    margin-bottom: 3rem;

    .profile-page-icon {
      // margin-left: auto;
      display: flex;
      flex-direction: column;

      .user-icon {
        height: 3.5rem;
        width: 3.5rem;
        font-size: 2.5rem;
      }
    }

    .username {
      // max-width: 3.5rem;
      // margin-top: 0.5rem;
      font-weight: 600;
      position: absolute;
      bottom: -1.75rem;
      transform: translateX(50%);
      right: 50%;
    }

    .user-action-button {
      height: 2.5rem;
      width: 2.5rem;
      display: block;
      background-color: var(--secondary-background-color);
      transition:
        background-color 300ms var(--animation-function),
        border 300ms var(--animation-function);
      border-radius: var(--border-radius);
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 2px 4px -1px var(--shadow-color);
      border: 2px solid transparent;

      &:disabled {
        background-color: var(--secondary-background-color) !important;
        opacity: 0.75;
      }

      &.active {
        background-color: var(--background-color-transparent);
        border: 2px solid var(--secondary-background-color);

        &:hover {
          background-color: var(--background-color);
          border: 2px solid var(--secondary-background-color-active);
        }
      }

      &:hover,
      &:active {
        background-color: var(--secondary-background-color-active);
      }

      .add-friend-button {
      }
    }

    .profile-buttons-right {
      display: grid;
      grid-template-columns: repeat(4, 2.5rem);
      margin-bottom: auto;
      width: fit-content;
      margin: 0 0.5rem;
      // margin-bottom: 2rem;
      gap: 0.5rem;
    }

    .profile-buttons-left {
      display: grid;
      grid-template-columns: repeat(4, 2.5rem);
      margin-bottom: auto;
      width: fit-content;
      margin: 0 0.5rem;
      // margin-bottom: 2rem;
      gap: 0.5rem;

      // no
      & > :nth-child(1) {
        grid-column: 4;
        grid-row: 1;
      }
      & > :nth-child(2) {
        grid-column: 3;
        grid-row: 1;
      }
      & > :nth-child(3) {
        grid-column: 2;
        grid-row: 1;
      }
      & > :nth-child(4) {
        grid-column: 1;
        grid-row: 1;
      }
    }
  }
}

.profile-page-subpage {
  max-width: 720px;
  margin: 2rem auto;
}

.subpage-title {
  margin-bottom: 0.5rem;

  .username {
    font-weight: 600;
  }
}

.friend-list {
  display: flex;
  flex-direction: column;

  .friend-card-list {
    display: flex;
    flex-direction: column;

    .friend-card {
      background-color: var(--secondary-background-color);
      padding: 0.5rem 0.5rem;

      .title {
        font-size: 1rem;
      }
    }
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 2.5rem;
  left: 100%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 0.75rem;
  padding: 0.1rem 0.5rem;
  box-shadow: 0 2px 4px -1px var(--shadow-color);
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  border-radius: var(--border-radius);
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms var(--animation-function);
  z-index: 300;
}

.tooltip:hover::before {
  opacity: 1;
  visibility: visible;
}
