.header {
  width: 100vw;
  z-index: 200;
  left: 50%;
  transform: translateX(-50%);
  transition: all 300ms var(--animation-function);
  position: fixed;
  background-color: transparent;
  background-color: var(--background-color-transparent);
  backdrop-filter: blur(15px);
  box-shadow: 0 1px 3px -1px var(--shadow-color);

  &.header-hidden {
    animation: headerSlideOutToTop 300ms var(--animation-function) forwards;
  }

  &.header-visible {
    animation: headerSlideInFromTop 300ms var(--animation-function) forwards;
  }

  &.header-not-top {
    box-shadow: 0 2px 4px -1px var(--shadow-color);
  }

  .menu-button {
    display: none;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 300ms var(--animation-function);
    max-width: 1280px;
    padding: 0.5rem;

    margin: 0 auto;

    h1 {
      a {
        color: var(--primary-color);
        white-space: nowrap;
        font-size: 1.5rem;
      }
    }

    nav {
      .change-theme-button {
        background-color: var(--secondary-background-color);
        transition:
          background-color 300ms var(--animation-function),
          color 300ms var(--animation-function);
        height: 1.75rem;
        width: 3.5rem;
        border-radius: 10px;
        margin-right: 2.5rem;
        padding: 0;
        align-content: center;
        box-shadow: 0 2px 4px -1px var(--shadow-color);

        &:hover {
          background-color: var(--secondary-background-color-active);
          color: var(--accent-color-dim);
          // filter: brightness(var(--action-brightness));
        }

        .theme-icon {
          height: 1.5rem;
          width: 1.5rem;
          transition: transform 300ms var(--animation-function);

          &.theme-dark {
            transform: translateX(0);
          }

          &.theme-light {
            transform: translateX(1.85rem);
          }

          .moon-icon,
          .sun-icon {
            height: 1.5rem;
            width: 1.5rem;
            fill: var(--accent-color);
          }
        }
      }

      .nav {
        display: flex;
        height: fit-content;
        // gap: 0.5rem;
        // transition: 300ms var(--animation-function);

        a {
          &.active {
            color: var(--primary-color);
          }
        }

        .nav-item {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          color: var(--accent-color);

          &.nav-item-link {
            padding: 0.25rem 0.5rem;
            transition: opacity 300ms var(--animation-function);

            &:hover {
              opacity: 0.75;
            }
          }

          .nav-item-children {
            .dropdown-menu {
              transition:
                opacity 300ms var(--animation-function),
                max-height 300ms linear,
                visibility 300ms var(--animation-function);

              background-color: var(--secondary-background-color);
              position: absolute;
              width: 200px;
              top: 2.5rem;
              right: 0rem;
              box-shadow: 0 2px 4px -1px var(--shadow-color);
              border-radius: 0.5rem 0 0.5rem 0.5rem;
              overflow: hidden;
            }

            &.nav-item-open {
              .dropdown-menu {
                visibility: visible;
                opacity: 1;
                max-height: 200px;
                pointer-events: all;
                // transform: translateY(0) translateX(0) scaleY(1) scaleX(1);
              }
            }

            &.nav-item-closed {
              .dropdown-menu {
                visibility: hidden;
                opacity: 0;
                max-height: 0;
                pointer-events: none;
                // transform: translateY(-40%) translateX(25%) scaleY(0.25) scaleX(0.25);
              }
            }
          }

          .nav-item-button {
            transition: color 300ms var(--animation-function);
            display: flex;
            align-items: center;
            gap: 0.5rem;
            position: relative;
            padding: 0.25rem 0.5rem;

            .dropdown-arrow {
              width: 0.5rem;
              height: 0.4rem;

              .arrow-left,
              .arrow-right {
                display: block;
                transition:
                  background-color 300ms var(--animation-function),
                  transform 300ms var(--animation-function);
                height: 0.5rem;
                width: 0.15rem;
                background-color: var(--accent-color);
                position: absolute;
              }

              .arrow-left {
                transform: rotate(-40deg);
              }
              .arrow-right {
                transform: translateX(0.245rem) rotate(40deg);
              }

              &.open {
                .arrow-left {
                  transform: rotate(-130deg);
                }
                .arrow-right {
                  transform: translateX(0.245rem) rotate(130deg);
                }
              }
            }

            .dropdown-arrow + .active {
              .arrow-left {
                transform: rotate(-40deg);
              }
              .arrow-right {
                transform: translateX(0.245rem) rotate(40deg);
              }
            }
          }

          & .nav-item-button:hover {
            color: var(--accent-color-dim);

            .arrow-left,
            .arrow-right {
              background-color: var(--accent-color-dim);
            }
          }

          &.active {
            .nav-item-button {
              color: var(--accent-color-dim);

              .arrow-left,
              .arrow-right {
                background-color: var(--accent-color-dim);
              }

              &:hover {
              }
            }
          }

          .dropdown-menu {
            &.hidden {
              // animation: closeDropdown 300ms ease-in-out forwards;
            }

            .dropdown-item {
              height: 50px;
              display: flex;
              align-items: center;
              display: flex;
              flex-direction: row;
              user-select: none;
              background-color: var(--secondary-background-color);

              &:hover,
              &:active {
                background-color: var(--secondary-background-color-active);

                & > :nth-child(1) {
                  padding: 0.5rem 0.5rem 0.5rem 4rem;
                }
                .icon {
                  left: 1.5rem;
                }
                .notifications-link {
                  .notifications-amount {
                    left: 2rem;
                  }
                }
              }

              .active + .icon {
                fill: var(--primary-color);
              }

              &:first-of-type {
                border-radius: 0.5rem 0 0 0;
              }

              &:last-of-type {
                border-radius: 0 0 0.5rem 0.5rem;
              }

              &.logout-button {
                border-radius: 0 0 0.5rem 0.5rem;

                button {
                  border-radius: 0 0 0.5rem 0.5rem;
                }

                &:hover {
                  background-color: var(--warning-color);
                }
              }

              & > :nth-child(1) {
                width: 100%;
                height: 100%;
                padding: 0.5rem 0.5rem 0.5rem 3.25rem;
                display: flex;
                align-items: center;
                transition: padding 300ms var(--animation-function);
              }

              .icon {
                display: flex;
                position: absolute;
                fill: var(--text-color);
                height: 1.5rem;
                width: 1.5rem;
                left: 1rem;
                transition: left 300ms var(--animation-function);
                pointer-events: none;
              }

              .notifications-link {
                display: flex;
                flex-direction: row;
                position: relative;

                .notifications-amount {
                  transition: left 300ms var(--animation-function);
                  font-size: 0.75rem;
                  background-color: var(--warning-color);
                  color: var(--accent-color);
                  font-weight: 500;
                  width: 1.25rem;
                  height: 1.25rem;
                  border-radius: 50%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  text-align: center;
                  position: absolute;
                  left: 1.5rem;
                  bottom: 0.5rem !important;
                  z-index: 200;
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}

.scroll-to-top-button {
  bottom: 20px;
  right: 20px;
  position: fixed;
  background-color: var(--cta-color);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(125%);
  opacity: 0;
  box-shadow: 0 2px 4px -1px var(--shadow-color);
  z-index: 100;

  &.button-visible {
    animation: slideInFromBottom 300ms var(--animation-function) forwards;
  }

  svg {
    height: 2rem;
    width: 2rem;
    fill: var(--text-color);
  }

  &:hover {
    box-shadow: 0 2px 4px -1px var(--shadow-color);
    // background-color: var(--secondary-background-color);
    background-color: var(--cta-color-active);
  }
}

@keyframes headerSlideInFromTop {
  0% {
    padding: 0 0;
  }
  100% {
    padding: 0.25rem 0;
  }
}

@keyframes headerSlideOutToTop {
  0% {
    padding: 0.25rem 0;
  }
  100% {
    padding: 0 0;
  }
}

@keyframes navbarSlide {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1280px) {
  .header-content {
    padding: 0.5rem 0.75rem !important;
  }
}

@media screen and (max-width: 600px) {
  nav {
    &.nav-hidden {
      .nav {
        display: none !important;
        // visibility: hidden !important;
      }
    }

    &.nav-shown {
      display: flex !important;
      // visibility: visible !important;

      .nav {
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        width: 60vw;
        background-color: var(--secondary-background-color);
        padding-right: 0.5rem;
        height: 100vh !important;
        // padding-top: 10%;
        padding-top: 1.25rem;
        box-shadow: 0 2px 60px 6px var(--shadow-color);
        animation: 300ms var(--animation-function) navbarSlide forwards;

        .change-theme-button {
          margin-right: 0;
          margin-bottom: 2.5rem;
          background-color: var(--background-color);

          &:hover {
            filter: brightness(0.9);
            background-color: var(--background-color);
            color: var(--accent-color-dim);
            // filter: brightness(var(--action-brightness));
          }
        }

        .nav-item {
          font-size: 1rem;
          justify-content: end;
          flex-direction: column;

          &.nav-item-link {
            padding: 1rem !important;
            align-items: end;
            transition:
              background-color 300ms var(--animation-function),
              padding 300ms var(--animation-function);

            &:hover,
            &:active {
              background-color: var(--secondary-background-color-active);
              padding: 1rem 1.75rem 1rem 1rem !important;
            }
          }

          &.active {
            .nav-item-button {
              background-color: var(--secondary-background-color-active);

              .nav-item-icon {
                padding-right: 0.75rem;
              }
            }
          }

          .nav-item-button {
            padding: 1rem !important;
          }

          .nav-item-children {
            width: 100% !important;

            .dropdown-menu {
              transition:
                opacity 300ms var(--animation-function),
                max-height 300ms linear,
                visibility 300ms var(--animation-function);

              width: 100% !important;
              position: static !important;
              box-shadow: none !important;
              border-radius: 0 !important;
              // padding-right: 1rem;
              background-color: var(--secondary-background-color);
              position: absolute;
              width: 200px;
              top: 2.5rem;
              right: 0 !important;
              box-shadow: 0 2px 4px -1px var(--shadow-color);
              border-radius: 0.5rem 0 0.5rem 0.5rem;
              overflow: hidden;
              // outline: 1px solid red;

              .dropdown-item {
                border-radius: 0 !important;
                display: flex !important;
                padding-right: 1.75rem;
                // transition: 300ms var(--animation-function);

                &:hover,
                &:active {
                  & > :nth-child(1) {
                    padding: 0.5rem 1.75rem 0.5rem 2.5rem !important;
                  }
                  .icon {
                    left: auto !important;
                  }
                  .notifications-amount {
                    left: auto !important;
                  }
                }

                &.logout-button {
                  border-radius: 0 0 0 0 !important;

                  button {
                    border-radius: 0 0 0 0 !important;
                  }
                }

                & > :nth-child(1) {
                  display: flex;
                  justify-content: end;
                  height: 100%;
                  padding: 0.5rem 1rem 0.5rem 3.25rem !important;
                  display: flex;
                  align-items: center;
                  // transition: all 300ms var(--animation-function);
                }

                &.logout-button {
                  border-radius: 0 0 0 0 !important;

                  button {
                    border-radius: 0 0 0 0 !important;
                  }

                  &:hover {
                    background-color: var(--warning-color) !important;
                  }
                }

                .icon {
                  // position: absolute;
                  // fill: var(--text-color);
                  // background-color: red;
                  display: flex;
                  position: static !important;
                  height: 1.5rem !important;
                  width: 1.5rem !important;
                  // right: 2.5rem !important;
                  margin-right: 0.25rem;
                  left: auto !important;
                  // transition: all var(--animation-function) 300ms;
                  pointer-events: none;
                }

                .notifications-link {
                  flex-direction: row-reverse !important;

                  .notifications-amount {
                    left: auto !important;

                    right: -2rem !important;
                  }
                }
              }
            }

            &.nav-item-open {
              .dropdown-menu {
                visibility: visible;
                opacity: 1;
                // max-height: 200px;
                background-color: red !important;
                pointer-events: all;
                // transform: translateY(0) translateX(0) scaleY(1) scaleX(1);
              }
            }

            &.nav-item-closed {
              .dropdown-menu {
                visibility: hidden;
                opacity: 0;
                // max-height: 0;
                background-color: blue !important;
                pointer-events: none;
                // transform: translateY(-40%) translateX(25%) scaleY(0.25) scaleX(0.25);
              }
            }
          }

          .nav-item-button {
            width: 100%;
            padding: 0.5rem 1.5rem 0.5rem 0.5rem;
            // padding-right: 1.5rem;
            padding: 1rem;
            justify-content: end;

            .nav-item-icon {
              transition: padding 300ms var(--animation-function);
            }

            &:hover,
            &:active {
              background-color: var(--secondary-background-color-active);
              opacity: 1 !important;
              color: var(--accent-color) !important;

              .nav-item-icon {
                padding-right: 0.75rem;
              }
            }
          }
        }
      }
    }
  }

  .menu-button {
    display: flex !important;
    position: absolute;
    right: 0.75rem;
    height: 2.5rem;
    z-index: 200;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;

    &:hover {
      .menu-button-line {
        opacity: 0.75;
      }
    }

    .menu-button-line {
      height: 0.25rem;
      width: 2rem;
      background-color: var(--accent-color);
      transition:
        transform 300ms var(--animation-function),
        background-color 300ms var(--animation-function),
        opacity 300ms var(--animation-function);
    }

    &.navigation-open {
      .menu-button-line:nth-of-type(1) {
        transform: translateY(300%) rotate(45deg);
      }
      .menu-button-line:nth-of-type(2) {
        opacity: 0;
      }
      .menu-button-line:nth-of-type(3) {
        transform: translateY(-300%) rotate(-45deg);
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .nav {
    width: 80vw !important;
  }
}

@media screen and (max-width: 320px) {
  .nav {
    width: 90vw !important;
  }
}
