@import "../../variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.75rem 2rem 0.5rem;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  background-color: $secondary-color;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);

  h1 {
    a {
      font-size: 1.5rem;

      &.active {
        color: white;
      }
    }
  }

  nav {
    ul {
      display: flex;
      gap: 0.5rem;
    }
  }
}
