.loading {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 200;

  .spinner {
    height: 60px;
    width: 60px;
    border: 10px solid transparent;
    border-left: 10px solid var(--accent-color);
    border-radius: 100%;
    animation: spin 750ms linear infinite;
  }

  .loading-message {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 4rem;
    width: 12rem;
    text-align: center;
    font-size: 0.75rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    // filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    // filter: hue-rotate(1800deg);
  }
}
