.loading {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  // background-color: pink;
  display: grid;
  place-content: center;
  pointer-events: none;

  .spinner {
    height: 60px;
    width: 60px;
    border: 10px solid transparent;
    border-left: 10px solid var(--secondary-background-color);
    border-radius: 100%;
    animation: spin 750ms linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    // filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    // filter: hue-rotate(1800deg);
  }
}
