.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;

  .carousel-wrapper {
    display: flex;
    transition: transform 300ms var(--animation-function);
    width: 100%;

    .slide {
      flex: 0 0 auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity 300ms var(--animation-function);

      &.active {
        opacity: 1;
      }

      &:not(.active) {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .carousel-buttons {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 0.75rem;

    .carousel-button {
      height: 1.25rem;
      width: 1.25rem;
      background-color: var(--secondary-background-color);
      border-radius: 50%;
      box-shadow: 0 2px 6px 2px var(--shadow-color);
      transition: 300ms var(--animation-function);

      &:hover {
        background-color: var(--secondary-background-color-active);
      }

      &.current-button {
        background-color: var(--secondary-background-color-active);
        box-shadow: 0 2px 6px 1px var(--shadow-color);
      }
    }
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    // background-color: var(--secondary-background-color);
    // box-shadow: 0 2px 4px -1px var(--shadow-color);
    // border-radius: var(--border-radius);
    text-shadow: 0px 0px 4px var(--shadow-color);
    outline: none;
    padding: 0.75rem;
    font-size: 3rem;
    font-weight: 600;
    transition: opacity 300ms var(--animation-function);

    &:hover {
      // background-color: var(--secondary-background-color-active);
      opacity: 0.75;
    }

    &:active {
      opacity: 0.5;
    }

    &.prev {
      left: 10px;
    }

    &.next {
      right: 10px;
    }
  }
}
