.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  .main-page-typing-area-wrapper {
    height: calc(100vh - 3rem);
    display: flex;
    align-items: center;
    justify-content: center;

    .typing-area-main-page {
      font-size: 2.5rem !important;
      padding: 1rem;

      backdrop-filter: blur(2px);
      max-width: 1280px;
    }
  }

  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;

    pointer-events: none;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;

    .main-page-section {
      min-height: 100vh;
      // transition: background-color 300ms var(--animation-function);
      flex: 1;
      display: flex;

      &:nth-of-type(even) {
        background-color: var(--secondary-background-color);
      }

      .section-children {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: auto;

        .section-text {
          flex: 2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 1rem 2.5rem;

          h2 {
            font-size: 2.25rem;
            line-height: 100%;
            font-weight: 300;
            color: var(--accent-color);
            letter-spacing: -0.075rem;
            text-shadow: 0px 0px 4px var(--shadow-color);
          }
          p {
            font-size: 1rem;
            margin-top: 0.5rem;
            line-height: 110%;
            font-weight: 400;
            color: var(--text-color);
            opacity: 0.85;
            text-shadow: 0px 0px 4px var(--shadow-color);
          }
        }

        .section-content {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.75rem;
          width: fit-content;

          .main-page-section-link {
            background-color: var(--cta-color);
            padding: 0.5rem 0.75rem;
            font-size: 1.25rem;
            min-width: 12rem;
            font-weight: 600;
            color: white;
            text-align: center;
            text-shadow: 0px 0px 4px var(--shadow-color);

            &:hover {
              background-color: var(--cta-color-active);
              box-shadow:
                0 0 6px 0 var(--primary-shadow),
                0 0 10px 0 var(--primary-shadow),
                0 0 14px 0 var(--primary-shadow),
                0 0 20px 0 var(--primary-shadow);
            }
          }
        }
      }
    }

    .options {
      user-select: none;
      padding: 0.5rem;
      max-width: 360px;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      // animation: appear 200ms var(--animation-function);

      .separate {
        display: flex;
        gap: 0.5rem;
        width: auto;
      }

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        padding: 0 0.75rem;
        // transition:
        //   background-color 300ms var(--animation-function),
        //   box-shadow 300ms var(--animation-function);
        width: 360px;
        height: 76px;
        background-color: var(--secondary-background-color);
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        box-shadow: 0 2px 4px -1px var(--shadow-color);
        border-radius: var(--border-radius);
        backdrop-filter: blur(2.5px);

        &:hover,
        &:active {
          background-color: var(--secondary-background-color-active);
          box-shadow: 0 2px 6px 1px var(--shadow-color);
        }

        &.main-button {
          color: var(--cta-color);

          // border: 2px solid var(--accent-color);

          span {
            color: var(--cta-color);
          }

          &:hover,
          &:active {
            box-shadow: 0 2px 4px -1px rgb(0 0 0 / 0.1);
            color: var(--cta-color-active);
          }
        }

        p {
          // transition: color 300ms var(--animation-function);
          font-weight: bold;
          font-size: 1.5rem;
          line-height: 1.5rem;
        }

        span {
          // transition: color 300ms var(--animation-function);
          // opacity: 0.6;
          font-weight: 200;
          color: var(--accent-color);
          font-size: 0.9rem;
          font-weight: 300;
          white-space: nowrap;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .main-page {
    .page {
      justify-content: center;
      align-items: center;
      padding: 0 !important;

      .options {
        margin: auto;
      }
    }

    .typing-area-main-page {
      display: none;
    }
  }
}

@media screen and (max-width: var(--width-xsm)) {
  .main-page {
    .main-content {
      .page {
        padding: 0;
      }

      .options {
        width: fit-content;
        max-width: 100%;

        a {
          padding: 1rem 0.75rem;

          p {
            font-size: 1.25rem;
          }
          span {
            font-size: 0.75rem;
          }
        }

        button {
          margin: 0 0.5rem;
        }
      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
