.main-page {
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .main-content {
    display: flex;

    .page {
      // position: absolute;
      // top: 45%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      // display: flex;
      // flex-direction: row;
      // justify-content: space-between;
      // padding: 1rem 5rem;
    }

    .typing-area-main-page {
      font-size: 2.5rem !important;
      padding: 1rem;
      backdrop-filter: blur(2px);
    }

    .options {
      user-select: none;
      padding: 0.5rem;
      max-width: 360px;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      // animation: appear 200ms var(--animation-function);

      .separate {
        display: flex;
        gap: 0.5rem;
        width: auto;
      }

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        padding: 0 0.75rem;
        transition:
          background-color 300ms var(--animation-function),
          box-shadow 300ms var(--animation-function);
        width: 360px;
        height: 76px;
        background-color: var(--secondary-background-color);
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        box-shadow: 0 2px 4px -1px var(--shadow-color);
        border-radius: var(--border-radius);
        backdrop-filter: blur(2.5px);

        &:hover,
        &:active {
          background-color: var(--secondary-background-color-active);
          box-shadow: 0 2px 6px 1px var(--shadow-color);
        }

        &.main-button {
          color: var(--cta-color);

          // border: 2px solid var(--accent-color);

          span {
            color: var(--cta-color);
          }

          &:hover,
          &:active {
            box-shadow: 0 2px 4px -1px rgb(0 0 0 / 0.1);
            color: var(--cta-color-active);
          }
        }

        p {
          transition: color 300ms var(--animation-function);
          font-weight: bold;
          font-size: 1.5rem;
          line-height: 1.5rem;
        }

        span {
          transition: color 300ms var(--animation-function);
          // opacity: 0.6;
          font-weight: 200;
          color: var(--accent-color);
          font-size: 0.9rem;
          font-weight: 300;
          white-space: nowrap;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .main-page {
    .page {
      justify-content: center;
      align-items: center;
      padding: 0 !important;

      .options {
        margin: auto;
      }
    }

    .typing-area-main-page {
      display: none;
    }
  }
}

@media screen and (max-width: var(--width-xsm)) {
  .main-page {
    .main-content {
      .page {
        padding: 0;
      }

      .options {
        width: fit-content;
        max-width: 100%;

        a {
          padding: 1rem 0.75rem;

          p {
            font-size: 1.25rem;
          }
          span {
            font-size: 0.75rem;
          }
        }

        button {
          margin: 0 0.5rem;
        }
      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
