.fake-words-page {
  .select-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 12rem;
    label {
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      white-space: nowrap;

      select {
        background-color: var(--secondary-background-color);
        padding: 0.25rem 0.5rem;
        font-size: 1rem;
        width: 4rem;
      }
    }
  }
}
