.keyboard {
  $keySize: var(--key-size);
  width: fit-content;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(60, calc($keySize/7));
  grid-template-rows: repeat(5, $keySize);
  grid-gap: calc($keySize/7);

  font-size: calc($keySize/2.75);

  &.same-color-keys {
    .key {
      background-color: var(--secondary-background-color) !important;

      &.pressed {
        background-color: var(--secondary-background-color-active) !important;
      }
    }
  }

  .key {
    background-color: var(--secondary-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
      box-shadow 300ms var(--animation-function),
      // color 100ms var(--animation-function),
      background-color 100ms var(--animation-function);
    backdrop-filter: blur(6px);
    box-shadow: 0 2px 4px -1px var(--shadow-color);
    user-select: none;
    font-weight: 500;
    border-radius: var(--border-radius);

    grid-column: auto / span 4;

    &.editing {
      outline: 2px solid var(--primary-color);
    }

    &.pressed {
      background-color: var(--secondary-background-color-active);
    }

    &.inactive {
      opacity: 0.5;
      background-color: var(--secondary-background-color) !important;

      &.pressed {
        background-color: var(--secondary-background-color) !important;

        &:after {
          background-color: var(--secondary-background-color) !important;
        }
      }
    }

    &.editing-key-placeholder {
      outline: 2px solid var(--primary-color);
    }

    &.uppercase {
      .key-value {
        &.same-key {
          opacity: 1 !important;
        }
      }

      &.Letter-key,
      &.Symbol-key,
      &.Digit-key {
        .key-value {
          &:nth-of-type(1) {
            opacity: 0.5;
          }
          &:nth-of-type(2) {
            opacity: 1;
          }
        }
      }
    }

    &.Letter-key {
      position: relative;

      .key-value {
        position: absolute;

        &:nth-of-type(1) {
          top: calc($keySize/12);
          left: calc($keySize/8);
          right: auto !important;
          bottom: auto !important;
        }
      }
    }

    &.Letter-key {
      position: relative;

      .key-value {
        position: absolute;

        &:nth-of-type(1) {
          top: calc($keySize/12);
          left: calc($keySize/8);
          right: auto !important;
          bottom: auto !important;
        }
        &:nth-of-type(2) {
          bottom: calc($keySize/12);
          right: calc($keySize/8);
          left: auto !important;
          top: auto !important;
        }
      }
    }

    &.Symbol-key,
    &.Digit-key {
      position: relative;

      .key-value {
        position: absolute;

        &:nth-of-type(1) {
          top: calc($keySize/12);
          left: calc($keySize/8);
          right: auto !important;
          bottom: auto !important;
        }
        &:nth-of-type(2) {
          bottom: calc($keySize/12);
          right: calc($keySize/8);
          left: auto !important;
          top: auto !important;
        }
      }
    }

    &.Letter-key,
    &.Symbol-key,
    &.Digit-key {
      .key-value {
        &:nth-of-type(1) {
          opacity: 1;
        }
        &:nth-of-type(2) {
          opacity: 0.5;
        }
      }
    }

    &.KeyF-key,
    &.KeyJ-key {
      position: relative;

      transition: filter 300ms var(--animation-function);

      &::after {
        position: absolute;
        content: "";
        background-color: var(--background-color);
        height: calc($keySize/16);
        width: calc($keySize/4);
        bottom: calc($keySize * 0.0875);
        right: calc($keySize * 0.375);
        opacity: 0.35;
        box-shadow: 0 2px 4px -1px var(--shadow-color);
        filter: invert(100%);
      }
    }

    &.KeyQ-key,
    &.KeyA-key,
    &.KeyZ-key {
      background-color: var(--finger-color-1);

      &.pressed {
        background-color: var(--finger-color-1-hover);
      }
    }

    &.KeyW-key,
    &.KeyS-key,
    &.KeyX-key {
      background-color: var(--finger-color-2);

      &.pressed {
        background-color: var(--finger-color-2-hover);
      }
    }

    &.KeyE-key,
    &.KeyD-key,
    &.KeyC-key {
      background-color: var(--finger-color-3);

      &.pressed {
        background-color: var(--finger-color-3-hover);
      }
    }

    &.KeyR-key,
    &.KeyF-key,
    &.KeyV-key,
    &.KeyT-key,
    &.KeyG-key,
    &.KeyB-key {
      background-color: var(--finger-color-4);

      &.pressed {
        background-color: var(--finger-color-4-hover);
      }
    }

    &.KeyY-key,
    &.KeyH-key,
    &.KeyN-key,
    &.KeyU-key,
    &.KeyJ-key,
    &.KeyM-key {
      background-color: var(--finger-color-7);

      &.pressed {
        background-color: var(--finger-color-7-hover);
      }
    }

    &.KeyI-key,
    &.KeyK-key,
    &.Comma-key {
      background-color: var(--finger-color-8);

      &.pressed {
        background-color: var(--finger-color-8-hover);
      }
    }

    &.KeyO-key,
    &.KeyL-key,
    &.Period-key {
      background-color: var(--finger-color-9);

      &.pressed {
        background-color: var(--finger-color-9-hover);
      }
    }

    &.KeyP-key,
    &.Semicolon-key,
    &.Slash-key {
      background-color: var(--finger-color-10);

      &.pressed {
        background-color: var(--finger-color-10-hover);
      }
    }

    &.Phantom-key {
      opacity: 0 !important;
    }

    &.Tab-key,
    &.CapsLock-key,
    &.ShiftLeft-key,
    &.ControlLeft-key,
    &.MetaLeft-key,
    &.AltLeft-key,
    &.AltRight-key,
    &.ControlRight-key,
    &.ShiftRight-key,
    &.Enter-key,
    &.Backspace-key,
    &.MetaRight-key,
    &.ContextMenu-key {
      font-size: calc($keySize/4.5);
    }

    &.Tab-key {
      grid-column: auto / span 7;
    }

    &.CapsLock-key {
      grid-column: auto / span 8;
    }

    &.ShiftLeft-key {
      grid-column: auto / span 10;
    }

    &.ControlLeft-key {
      grid-column: auto / span 5;
    }

    &.MetaLeft-key {
      grid-column: auto / span 5;
    }

    &.AltLeft-key {
      grid-column: auto / span 5;
    }

    &.Space-key {
      grid-column: auto / span 25;
    }

    &.AltRight-key {
      grid-column: auto / span 5;
    }

    &.MetaRight-key {
      grid-column: auto / span 5;
    }

    &.ContextMenu-key {
      grid-column: auto / span 5;
    }

    &.ControlRight-key {
      grid-column: auto / span 5;
    }

    &.ShiftRight-key {
      grid-column: auto / span 10;
    }

    &.Enter-key {
      grid-column: auto / span 8;
    }

    &.Backspace-key {
      grid-column: auto / span 8;
    }

    &.Backslash-key {
      grid-column: auto / span 5;
    }
  }

  &.keyboard-ISO {
    grid-template-columns: repeat(60, calc($keySize/7));

    .key {
      &.Enter-key {
        grid-column: auto / span 6;
        position: relative;
        border-radius: var(--border-radius) var(--border-radius) 0 var(--border-radius);

        &:after {
          content: " ";
          position: absolute;
          width: calc($keySize * 1.285);
          height: calc($keySize + $keySize/7);
          background-color: var(--secondary-background-color);
          top: calc($keySize);
          right: 0;
          transition: background-color 100ms var(--animation-function);
          box-shadow: 0 2px 4px -1px var(--shadow-color);
          border-radius: 0 0 var(--border-radius) var(--border-radius);
        }

        &.pressed {
          &:after {
            background-color: var(--secondary-background-color-active);
          }
        }
      }

      &.Backspace-key {
        grid-column: auto / span 8;
      }

      &.Tab-key {
        grid-column: auto / span 6;
      }

      &.CapsLock-key {
        grid-column: auto / span 7;
      }

      &.ShiftLeft-key {
        grid-column: auto / span 5;
      }

      &.ShiftRight-key {
        grid-column: auto / span 11;
      }

      &.ContextMenu-key {
        grid-column: auto / span 5;
      }

      &.Backslash-key {
        grid-column: auto / span 4;
      }
    }
  }

  &.keyboard-ANSI-ISO {
    grid-template-columns: repeat(60, calc($keySize/7));

    .key {
      &.Enter-key {
        grid-column: auto / span 6;
        position: relative;
        border-radius: var(--border-radius) var(--border-radius) 0 var(--border-radius);

        &:after {
          content: " ";
          position: absolute;
          width: calc($keySize * 1.285);
          height: calc($keySize + $keySize/7);
          background-color: var(--secondary-background-color);
          top: calc($keySize);
          right: 0;
          transition: 100ms var(--animation-function);
          box-shadow: 0 2px 4px -1px var(--shadow-color);
          border-radius: 0 0 var(--border-radius) var(--border-radius);
        }

        &.pressed {
          &:after {
            background-color: var(--secondary-background-color-active);
          }
        }

        &.uneditable {
          &:after {
            background-color: var(--secondary-background-color) !important;
          }
        }
      }

      &.Backspace-key {
        grid-column: auto / span 8;
      }

      &.Tab-key {
        grid-column: auto / span 6;
      }

      &.CapsLock-key {
        grid-column: auto / span 7;
      }

      &.ShiftLeft-key {
        grid-column: auto / span 9;
      }

      &.ShiftRight-key {
        grid-column: auto / span 11;
      }

      &.ContextMenu-key {
        grid-column: auto / span 5;
      }

      &.Backslash-key {
        grid-column: auto / span 4;
      }
    }
  }
}

.editable-keyboard-content {
  position: relative;
}

.keyboard-options {
  display: flex;
  // gap: 0.25rem;
  // margin-bottom: 0.5rem;
  // opacity: 0.75;
  align-items: end;

  .keyboard-language-selector,
  .keyboard-type-selector {
    option {
      background-color: var(--secondary-background-color);
    }
  }

  .select-wrapper {
    margin-bottom: 0.5rem;

    &:first-of-type {
      margin-right: 1.25rem;
    }
  }

  .keyboard-options-right-side-buttons {
    margin-left: auto;
  }

  .keyboard-options-button {
    display: flex;
    background-color: transparent !important;
    box-shadow: none;
    transition: 300ms var(--animation-function);

    &:first-of-type {
      margin-left: auto;
    }

    &:hover {
      background-color: transparent;
      box-shadow: none;
      opacity: 0.85;
    }
  }
}

.keyboard-wrapper {
  width: fit-content;
  margin: auto;
}

.key.editable {
  cursor: pointer;
}

.editable-keyboard-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
}

.key.uneditable {
  opacity: 0.55;

  &.pressed {
    background-color: var(--secondary-background-color) !important;
  }
}

.editable-keyboard-buttons {
  position: absolute;
  bottom: -3.5rem;
  width: 100%;
  display: flex;
  justify-content: end;

  height: 2.5rem;

  .keyboard-button-list {
    display: flex;
    gap: 0.5rem;
  }

  .keyboard-left-side-buttons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: start;
    margin-right: auto;

    .button {
      display: flex;
      background-color: transparent;
      box-shadow: none;
      .icon {
        transition: 300ms var(--animation-function);
      }

      &:hover {
        .icon {
          opacity: 0.85;
        }
      }
    }
  }

  .keyboard-right-side-buttons {
    .keyboard-button-list {
      align-items: center;

      .button {
        user-select: none;
        display: flex;
        border-radius: 0;

        background-color: transparent;
        box-shadow: none;

        .icon {
          transition: 300ms var(--animation-function);
        }

        &:hover {
          .icon {
            opacity: 0.85;
          }
        }
      }
    }

    .show-more-keyboard-action-buttons-button {
      display: flex;
      background-color: transparent !important;
      box-shadow: none;
      position: absolute;
      right: 0;
      transition: 300ms var(--animation-function);

      &.active {
        transform: translateX(125%);
        opacity: 0.65;
      }

      &:hover {
        opacity: 0.85;
      }
    }
  }
}
