.list {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid black;
    margin-top: 10px;
}