.match_form {
  max-width: 450px !important;
  margin-bottom: 0;
  margin: 0;
  height: 100%;

  .select-list {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    label {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      white-space: nowrap;
      text-align: center;
      align-items: center;

      select {
        background-color: var(--secondary-background-color);
        padding: 0.25rem 0.5rem;
        font-size: 1rem;
        width: 4rem;
      }
    }
  }
  .textGen {
    height: 100%;
    text-align: center;
    width: 95%;
    margin: 5px auto;
    display: flex;
    align-items: start;
    flex-direction: column;
    label {
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 0.5rem;
      white-space: nowrap;
      text-align: center;
      align-items: center;
      select {
        background-color: var(--secondary-background-color);
        padding: 0.25rem 0.5rem;
        font-size: 1rem;
        border-radius: 8px;
      }
    }
    .corpus {
      margin: 20px auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      input {
        width: 70px;
        padding: 0.25rem 0.5rem;
        font-size: 1rem;
        border-radius: 8px;
      }
    }
  }
  .but {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: auto;
    margin: auto;
    button {
      padding: 0.75rem 2.25rem;
      margin: 3rem auto 0;
    }
  }
  .example {
    border-radius: var(--bolder-radius);
    width: 100%;

    .sample-text-title {
      text-align: left;
    }

    .sample-text {
      background-color: var(--secondary-background-color);
      color: var(--text-color);
      width: 100%;
      height: 6rem;
      overflow-y: auto;
      display: block;
      border-radius: 0.25rem;
      padding: 0.5rem;
    }
  }
  .basic {
    display: flex;
    margin: 0 auto;
    width: 100%;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    input {
      margin-bottom: 3px;
    }
    h2 {
      margin-top: 8px;
    }
  }
}
