.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &.tooltip-bottom-left {
    &::before {
      right: 0;
      top: calc(100% + 0.25rem);
      text-align: left;
    }
  }
  &.tooltip-bottom-center {
    &::before {
      right: 50%;
      top: calc(100% + 0.25rem);
      transform: translateX(50%);
      text-align: center;
    }
  }
  &.tooltip-bottom-right {
    &::before {
      left: 0;
      top: calc(100% + 0.25rem);
      text-align: right;
    }
  }
  &.tooltip-top-left {
    &::before {
      right: 0;
      bottom: calc(100% + 0.25rem);
      text-align: right;
    }
  }
  &.tooltip-top-center {
    &::before {
      right: 50%;
      bottom: calc(100% + 0.25rem);
      transform: translateX(50%);
      text-align: center;
    }
  }
  &.tooltip-top-right {
    &::before {
      left: 0;
      // top: -50%;
      bottom: calc(100% + 0.25rem);
      text-align: right;
    }
  }
  &.tooltip-left {
    &::before {
      top: 50%;
      right: 102.5%;
      transform: translateY(-50%);
      text-align: left;
    }
  }
  &.tooltip-right {
    &::before {
      top: 50%;
      left: 102.5%;
      transform: translateY(-50%);
      text-align: right;
    }
  }
}

.tooltip::before {
  content: attr(data-tooltip);
  position: absolute;
  // top: 2rem;
  // left: 100%;
  // transform: translateX(-50%);
  white-space: nowrap;
  font-size: 0.75rem;
  padding: 0.1rem 0.5rem;
  box-shadow: 0 2px 4px -1px var(--shadow-color);
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  border-radius: var(--border-radius);
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms var(--animation-function);
  z-index: 300;

  max-width: var(--max-width);
  white-space: normal;
}

.tooltip:hover::before {
  opacity: 1;
  visibility: visible;
}
