.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 2rem;
  left: 100%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 0.75rem;
  padding: 0.1rem 0.5rem;
  box-shadow: 0 2px 4px -1px var(--shadow-color);
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  border-radius: var(--border-radius);
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms var(--animation-function);
  z-index: 300;
}

.tooltip:hover::before {
  opacity: 1;
  visibility: visible;
}
