html,
body,
#root {
  min-height: 100vh;
  overflow-x: hidden;
}

body {
}

* {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 300ms var(--animation-function);

  --red-color: #ca3f3f;
  --success-color: #27bd47; // change
  --large-font-size: 1.5rem;
  --animation-function: cubic-bezier(0.36, 0.56, 0.52, 0.97);
  --border-radius: 0.5rem;

  --small-screen: 576px;
  --medium-screen: 768px;
  --large-screen: 1200px;

  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Poppins", "Noto Sans Georgian", sans-serif;

  .background-image {
    background-image: url("./assets/hero.jpg");
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: opacity(0.15) blur(3px);
    pointer-events: none;
  }

  // light theme
  &:not(.dark) {
    --primary-color: rgb(87, 82, 180);
    // --complementary-color: #8780e4;
    --cta-color: #9792eb;
    --cta-color-active: #a9a5f5;
    --secondary-color: #4b5057;

    --accent-color: #1c1b1d;
    --accent-color-dim: #575358;

    --shadow-color: rgb(0 0 0 / 0.1);
    --warning-color: #d43737;
    // --warning-color: #ee6868;

    --background-color: #e3e8f0;
    --background-color-transparent: #e3e8f06c;

    --secondary-background-color: #ffffff4d;
    --secondary-background-color-active: #f6f7fd25;

    --text-color: #1f1e24;

    --typing-text-unwritten: #586579;
    --typing-text-incorrect: rgb(197, 56, 56);
    --typing-text-correct: #1f1e24;

    --penalty-word-yellow: #f5e856;

    background: var(--background-color);
    --tertiary-background-color: #becee6;
    --green-adjusted: rgb(133, 187, 133);
  }

  // dark theme
  &.dark {
    --primary-color: #817dd8;
    // --complementary-color: #706cb9;
    --cta-color: #706cb9;
    --cta-color-active: #8c87e7;
    --secondary-color: #4b5057;

    --accent-color: #ffffff;
    --accent-color-dim: #c8c4ca;

    --shadow-color: rgb(0 0 0 / 0.2);
    --warning-color: #ca3f3f;

    --background-color: #262533;
    --background-color-transparent: #26253375;

    --secondary-background-color: #44435ab2;
    --secondary-background-color-active: #555470b2;

    --text-color: #e2e6eb;

    --typing-text-unwritten: #828282;
    --typing-text-incorrect: rgb(197, 56, 56);
    --typing-text-correct: #e2e6eb;

    --penalty-word-yellow: #f5e856;

    background: var(--background-color);
    --tertiary-background-color: #253850;
    --green-adjusted: rgb(11, 59, 11);
  }

  .page {
    padding: 0.5rem;
    max-width: 1280px;
    width: 100%;
    margin: 4.5rem auto;
    flex: 1;
  }

  .icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--accent-color);
    transition: 300ms var(--animation-function);
  }

  .fetch-error-message {
    text-align: center;
    margin: 2rem;
  }
}

// overriding toastify colors

:root {
  --toastify-text-color-light: #1f1e24;
  --toastify-text-color-dark: #e2e6eb;

  --toastify-color-light: #ffffff;
  --toastify-color-dark: #44435a;
}

// scrollbar

/* scrollbar for firefox light mode */
html {
  scrollbar-color: #262533 #e3e8f0;
  scrollbar-width: thin;
}

/* scrollbar for firefox dark mode */
html.dark {
  scrollbar-color: #e3e8f0 #262533;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* chromium browser's light mode scrollbar background */
::-webkit-scrollbar-track {
  background-color: #e3e8f0;
}

/* chromium browser's dark mode scrollbar background */
.dark ::-webkit-scrollbar-track {
  background-color: #262533;
}

/* chromium browser's light mode scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #e3e8f0;
}

/* chromium browser's dark mode scrollbar */
.dark ::-webkit-scrollbar-thumb {
  background-color: #262533;
}
