:root {
  font-family: Poppins, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  box-sizing: border-box;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --error-color: #ca3f3f;

  --width-xsm: 420px;
  --width-sm: 640px;
  --width-md: 768px;
  --width-lg: 1024px;
  --width-xl: 1280px;
  --width-2xl: 1536px;
  --width-3xl: 1720px;
}

// light theme
html:not(.dark) {
  --primary-color: #937ef1;
  --secondary-color: #dfdfdf;
  --background-color: #f3f3f3;
  --secondary-background-color: #e0e4e9;
  --text-color: #1d1c1b;
  --slightly-weak-text-color: #41403f;
  --weaker-text-color: #8b8b8b;
}

// dark theme
.dark {
  --primary-color: #7c66db;
  --secondary-color: #3a3837;
  --background-color: #1d1c1b;
  --secondary-background-color: #1f2020;
  --text-color: white;
  --slightly-weak-text-color: rgb(201, 201, 201);
  --weaker-text-color: #747474;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
}

// styles reset

* {
  box-sizing: border-box;
  // transition: background-color ease-in-out 500ms;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: hone;
  background-color: transparent;
  font: inherit;

  cursor: pointer;
  transition: all ease-in-out 200ms;

  &:hover {
    opacity: 0.8;
  }
}

input {
  outline: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  width: auto;
}

select,
option,
button,
input {
  font-family: inherit;
  color: inherit;
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: black;
//     background-color: $secondary-color-light;
//   }
// }
