// scss variables

// dark theme
$primary-color: #7c66db;
$secondary-color: #1d1c1b;
$secondary-color-dimmer: #3a3837;
$dark-gray: #1e1f20;
$light-gray: #353e42;

// light theme
// $primary-color: #7c66db;
// $secondary-color-light: rgb(231, 231, 231);
// $secondary-color-dimmer-light: rgb(199, 199, 199);
// $dark-gray-light: #b8bbbe;
// $light-gray-light: #dfe3e6;

$error-color: #ca3f3f;

$width-xsm: 420px;
$width-sm: 640px;
$width-md: 768px;
$width-lg: 1024px;
$width-xl: 1280px;
$width-2xl: 1536px;
$width-3xl: 1720px;
