@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&family=Noto+Serif+Georgian&display=swap");

@import "../../animations.scss";

.typer {
  margin-top: 0.5rem;
  max-width: 720px;
  margin: 0 auto;

  .typing-panel {
    margin: 1rem 0;
    display: flex;

    .settings-button {
      margin: 0;
      padding: 0;
      height: 24px;
      margin-left: auto;

      .settings-icon {
      }
    }
  }
}

.text {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.25rem;
  user-select: none;
  // gap: 0.75rem;
  line-height: 1.75rem;
  position: relative;
  transition: 0.2s ease-out;

  textarea {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    resize: none;
    opacity: 0;
  }

  .word-separator {
    margin: 0 0.5rem;
  }

  .word {
    // color: rgb(143, 143, 143);
    color: var(--weaker-text-color);
    margin: 0.25rem 0;

    &:not(.active-word) {
      .incorrect-letter {
        color: rgb(197, 56, 56) !important;
      }
    }

    // for reinforcement typer
    &:is(.penalty-word) {
      color: var(--penalty-word-yellow);
      .letter:last-child {
        color: var(--weaker-text-color);
      }
    }

    .letter {
      transition: all 0.3s ease;

      &.active-letter {
        // color: var(--slightly-weak-text-color);
        text-decoration: underline;
        text-decoration-color: var(--slightly-weak-text-color);
        text-underline-offset: 4px;
        position: relative;
      }

      &.correct-letter {
        color: var(--text-color);
      }

      &.incorrect-letter {
        color: var(--error-color);

        animation: shake 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      }
    }
  }
}
// }

.settings-background {
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary-color);
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  backdrop-filter: blur(100px);
  z-index: 150;
}

.settings-window {
  position: absolute;
  height: 300px;
  max-width: 400px;
  width: calc(100% - 2rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  background-color: var(--secondary-background-color);
  padding: 0.5rem;
  animation: fadeIn 0.2s;
  animation-fill-mode: forwards;
  z-index: 200;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;

  animation: slideInFromTop 200ms ease-in-out forwards;

  .close-message {
    position: absolute;
    left: 0;
    bottom: -2rem;
    font-size: 0.9rem;
    opacity: 0.3;
    cursor: default;
    width: 100%;
    text-align: center;
  }

  .reset-settings-button {
    margin-top: auto;
    color: var(--weaker-text-color);
    width: fit-content;
  }

  .text-setting-select {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;

    select {
      padding: 0 0.5rem;
      width: 7rem;
      outline: none;
      border: none;
      background-color: var(--secondary-color);

      option {
        font-family: inherit;
        border: none;
      }
    }
  }

  .font-options {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    label {
      user-select: none;
      cursor: pointer;
    }
  }
}

.font-poppins {
  font-family: Poppins, serif;
}

.font-courier-new {
  font-family: "Courier New", monospace;
}

.font-brush-script-mt {
  font-family: "Brush Script MT", cursive;
}

.font-times-new-roman {
  font-family: "Times New Roman", serif;
}

.font-sans {
  font-family: "Noto Sans Georgian", sans-serif;
}

.font-serif {
  font-family: "Noto Serif Georgian", serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-20.5px);
  }
  50% {
    transform: translateX(20.5px);
  }
  75% {
    transform: translateX(-20.5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translate(-50%, -60%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
