@import "../../animations.scss";

.typer {
  margin-top: 0.5rem;
  max-width: 720px;
  margin: 0 auto;

  .typing-panel {
    margin: 1rem 0;
    display: flex;

    .settings-button {
      margin: 0;
      padding: 0;
      height: 24px;
      margin-left: auto;

      .settings-icon {
      }
    }
  }
}

.text {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  user-select: none;
  transition: font-size 300ms var(--animation-function), color 300ms var(--animation-function),
    line-height 300ms var(--animation-function);

  // transition: font-size 300ms var(--animation-function);

  textarea {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    resize: none;
    opacity: 0;
  }

  .word-separator {
    margin: 0 0.5rem;
  }

  .word {
    color: var(--typing-text-unwritten);

    &:not(.active-word) {
      .incorrect-letter {
        color: var(--typing-text-incorrect) !important;
      }
    }

    // for reinforcement typer
    &:is(.penalty-word) {
      color: var(--penalty-word-yellow);
      .letter:last-child {
        color: var(--weaker-text-color);
      }
    }

    .letter {
      &.last-letter {
        width: 0.5rem;
        display: inline-block;
      }

      &.active-letter {
        text-decoration: underline;
        text-decoration-color: var(--typing-text-unwritten);
        text-underline-offset: 4px;
      }

      &.correct-letter {
        color: var(--typing-text-correct);
      }

      &.incorrect-letter {
        color: var(--typing-text-incorrect);

        animation: shake 300ms var(--animation-function);
      }
    }
  }
}

// english fonts
.font-poppins {
  font-family: Poppins, serif;
}

.font-courier-new {
  font-family: "Courier New", monospace;
}

.font-brush-script-mt {
  font-family: "Brush Script MT", cursive;
}

.font-times-new-roman {
  font-family: "Times New Roman", serif;
}

// georgian fonts from google
.font-sans {
  font-family: "Noto Sans Georgian", sans-serif;
}

.font-serif {
  font-family: "Noto Serif Georgian", serif;
}

// georgian fonts from fonts.ge
@font-face {
  font-family: cursive-geo;
  src: url(../../assets/fonts/3d_unicode.ttf);
}
@font-face {
  font-family: sanet-geo;
  src: url(../../assets/fonts/alk-sanet.ttf);
}

// georgian fonts from enagramm.com
@font-face {
  font-family: mta;
  src: url(../../assets/fonts/grigolia_mta.ttf);
}
@font-face {
  font-family: kolheti;
  src: url(../../assets/fonts/kolheti.ttf);
}
@font-face {
  font-family: tchveuli;
  src: url(../../assets/fonts/tchveul.ttf);
}

// fonts as classes
.font-cursive {
  font-family: cursive-geo;
}
.font-sanet {
  font-family: sanet-geo;
}
.font-cursive {
  font-family: cursive-geo;
}
.font-mta {
  font-family: mta;
}
.font-kolheti {
  font-family: kolheti;
}
.font-tchveuli {
  font-family: tchveuli;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-20.5px);
  }
  50% {
    transform: translateX(20.5px);
  }
  75% {
    transform: translateX(-20.5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translate(-50%, -60%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
